# 第二题：决策树处理回归任务

实验内容
1.	使用sklearn.tree.DecisionTreeRegressor完成kaggle房价预测问题
2.	计算最大深度为10的决策树，训练集上十折交叉验证的MAE和RMSE
3.	绘制最大深度从1到30，决策树在训练集和测试集上MAE的变化曲线
4.  选择一个合理的树的最大深度，并给出理由

## 1. 读取数据

In [19]:
import pandas as pd
data = pd.read_csv('data/kaggle_house_price_prediction/kaggle_hourse_price_train.csv')

In [20]:
# 丢弃有缺失值的特征（列）
data.dropna(axis = 1, inplace = True)

# 只保留整数的特征
data = data[[col for col in data.dtypes.index if data.dtypes[col] == 'int64']]

In [21]:
data.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,8450,7,5,2003,2003,706,0,150,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,9600,6,8,1976,1976,978,0,284,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,11250,7,5,2001,2002,486,0,434,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,9550,7,5,1915,1970,216,0,540,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,14260,8,5,2000,2000,655,0,490,...,192,84,0,0,0,0,0,12,2008,250000

## 2. 数据集划分

70%做训练集，30%做测试集

In [22]:
from sklearn.utils import shuffle

In [23]:
data_shuffled = shuffle(data, random_state = 32)
split_line = int(len(data_shuffled) * 0.7)
training_data = data_shuffled[:split_line]
testing_data = data_shuffled[split_line:]

## 3. 导入模型

In [24]:
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [25]:
from sklearn.tree import DecisionTreeRegressor

## 4. 选取特征和标记

In [27]:
features = data.columns.tolist()
target = 'SalePrice'
features.remove(target)
features
target

'SalePrice'

## 5. 训练与预测

请你在下面计算树的最大深度为10时，使用训练集全量特征训练的决策树的十折交叉验证的MAE和RMSE

In [30]:
def eval(y_true, y_pred):
    ab_error = mean_absolute_error(y_true, y_pred)
    squ_error = mean_squared_error(y_true, y_pred) 
    return  ab_error, squ_error# YOUR CODE HERE
model = DecisionTreeRegressor(max_depth = 10) # 参数max_depth决定了决策树的最大深度
y_pred =cross_val_predict(model, training_data[features],training_data[target], cv=10)
ab_error, squ_error = eval(y_true=training_data[target], y_pred=y_pred)
print(y_pred,training_data[target])
print(ab_error,  squ_error )

[ 95318.42105263 215000.         192803.5        ... 240500.
 153015.51724138  55993.        ] 363     118000
529     200624
1394    246578
803     582933
832     237000
661     402000
851     215000
1041    173000
157     269500
611     148000
927     176000
928     236500
483     164000
1270    260000
918     238000
882     178000
805     227680
663     137500
422     113000
313     375000
1363    156932
1264    181000
59      124900
1300    225000
785     161500
791     146800
659     167000
390     119000
537     111250
903     240000
         ...
1312    302000
1425    142000
1170    171000
640     274000
689     194700
1278    237000
617     105500
1150    124000
852     164000
954     127500
748     260400
904     125500
1358    177500
1422    136500
602     220000
688     392000
773     114500
112     383970
859     250000
807     223500
183     200000
1216    112000
672     165000
1061     81000
509     124500
493     155000
1212    113000
768     216837
1434    160000
796     143500
Name: SalePrice, Length: 1021, dtype: int64
27938.50659929353 2070233681.1300564

###### 双击此处编辑
最大深度为10，全量特征的决策树，十折交叉验证指标

MAE|RMSE
-|-
0.0|0.0

## 6. 改变最大深度，绘制决策树的精度变换图

绘制最大深度从1到30，决策树训练集和测试集MAE的变化图

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")

In [ ]:
# YOUR CODE HERE

请你选择一个合理的树的最大深度，并给出理由
###### 双击此处编辑